@media screen and (max-width: 320px) {
    .accordion-title {
        margin-top: -2rem;
    }
    .woman-image {
        min-width: 250px;
    }
    .arrow img {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 321px) and (max-width: 576px) {

}

@media screen and (min-width: 577px) and (max-width: 768px) {

}

/* --------------------- */
/* SWITCH TO MOBILE VIEW */
/* --------------------- */
@media screen and (max-width: 768px) {
    .box {
        display: none;
    }
    .page-container {
        height: 1000px;
    }
    .faq-card {
        position: relative;
        top: -50px;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        overflow-x: visible;
        margin: 0rem 1rem;
    }
    .accordion-menus {
        margin: 7rem 1rem 0 1rem;
        max-width: 100%;
        padding-bottom: 2rem;
    }
    .accordion-title {
        text-align: center;
    }
    .accordion-btn {
        min-width: 100%;
        text-align: left;
    }
    .panel {
        font-weight: bolder;
    }
    .panel:hover, 
    .panel:active,
    .panel:focus {
        animation: fadeIn .3s ease-in-out;
    }
    .accordion-btn:hover,
    .accordion-btn:focus, 
    .accordion-btn:active {
        font-weight: normal;
    }
    .accordion-btn:hover .arrow img, /* hover is for mobile only in this case */
    .accordion-btn:focus .arrow img,
    .accordion-btn:active .arrow img {
        transform: rotate(180deg);
    }
    .woman-image {
        position: absolute;
        top: -100px;
        left: 85px;
    }
}
/* --------------------- */
/* SWITCH TO MOBILE VIEW */
/* --------------------- */

@media screen and (min-width: 769px) and (max-width: 992px) {

}

@media screen and (min-width: 993px) and (max-width: 1200px) {

}

@media screen and (max-width: 1536px) {
    
}